	.main-content {
		width: 100%;
		padding-top: 140px;
		padding-bottom: 100px;
	}
	
	.interview_content {
		width: 1200px;
		margin: 0 auto;
		background-color: #fff;
		box-sizing: border-box;
	}
	
	.banner {
		width: 100%;
		height: 150px;
		background: -webkit-linear-gradient(#4cb0f6, #4cd6fc);
	}
	
	.business_school_img {
		width: 1200px;
		height: 500px;
		margin-top: 22px;
		margin-bottom: 40px;
	}
	
	.course_list,
	.online_instructor_list {
		display: block;
		position: relative;
		margin-bottom: 50px;
	}
	
	.course_img,
	.course_list {
		width: 575px;
		height: 320px;
	}
	
	.course_detail {
		position: absolute;
		bottom: 0;
		height: 80px;
		line-height: 80px;
		width: 575px;
		background-color: rgba(105, 99, 90, 0.8);
	}
	
	.btn {
		margin-top: 9px;
		font-size: 24px;
		color: #087ec1;
		background-color: #FFFFFF;
		height: 60px;
		line-height: 60px;
		text-align: center;
		width: 190px;
		display: inline-block;
		margin-left: 20px;
		margin-right: 46px;
		border: 1px solid #087ec1;
		border-radius: 8px;
	}
	
	.course_name {
		color: #FFFFFF;
		font-size: 30px;
	}
	
	.adddress {
		font-size: 16px;
		color: #FFFFFF;
		position: absolute;
		right: 10px;
		bottom: -20px;
	}
	
	.online_instructor_img,
	.online_instructor_list {
		width: 393px;
		height: 400px;
	}
	
	.online_instructor_detail {
		position: absolute;
		bottom: 0;
		height: 100px;
		line-height: 100px;
		width: 393px;
		background-color: rgba(105, 99, 90, 0.8);
	}
	
	.online_instructor_btn {
		margin-top: 19px;
		font-size: 20px;
		color: #333;
		background-color: #FFFFFF;
		height: 60px;
		line-height: 60px;
		text-align: center;
		width: 160px;
		display: inline-block;
		margin-left: 20px;
		margin-right: 46px;
		border: 1px solid #fff;
		border-radius: 8px;
	}
	
	.online_instructor_play {
		font-size: 20px;
		color: #FFFFFF;
	}