
		header{
			z-index: 99;
		}
		form {
			border: 1px solid #999999;
			width: 700px;
			margin: 0 auto;
			margin-top: 31px;
			position: relative;
			margin-bottom: 100px;
		}
		
		.close {
			position: absolute;
			right: 10px;
			top: 20px;
		}
		
		.title {
			font-size: 30px;
			color: #0284C8;
			text-align: center;
			margin-top: 46px;
			margin-bottom: 37px;
		}
		
		input {
			display: block;
			margin: 0 auto;
			border: none;
			border-bottom: 1px solid #c7c7c7;
			margin-top: 50px;
			width: 600px;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
		}
		
		.submit {
			display: block;
			width: 600px;
			height: 80px;
			line-height: 80px;
			color: #FFFFFF;
			background-color: #169bd5;
			border: none;
			border-radius: 18px;
			font-size: 28px;
			margin: 80px auto 65px auto;
		}
		
		.quick-login {
			width: 600px;
			margin: 0 auto;
			height: 20px;
			line-height: 20px;
		}
		
		.login-icon {
			width: 600px;
			margin: 35px auto 40px auto;
		}
		
		.line {
			height: 1px;
			border-bottom: 1px solid #999999;
			width: 232px;
			display: inline-block;
		}
		
		.banner img {
			width: 100%;
			min-width: 1200px;
			height: auto;
		}
		
.code{
	width: 450px;display: inline-block;margin-left: 52px;border: none;
} 
.get_code{
	 display: inline-block; width:150px;text-align:right;height: 30px;line-height: 30px; font-size: 14px;color: #00C0FF;border: none;
}
hr{
	width: 600px;margin: 0 auto;background-color: #c7c7c7;
}
.form-group{
	width: 600px;margin: 10px auto;
}
.checkbox{
	display: inline-block;height: 30px;width: 300px;
}
.checkbox input{
	display: inline-block;width: 40px;margin-top: 7px;height:16px;
}
.checkbox span{
	color: #999999;font-size: 14px;display: inline-block;height: 30px;line-height: 30px;
}
.text{
	width: 125px;text-align: center;display: inline-block;height: 20px;font-size: 18px;
}
.register{
	color: #0284c8;font-size: 12px;position: absolute;bottom: 8px;right: 45px;
}
.weixin_icon{
	margin-left: 175px;
}
.qq_icon{
	margin-left: 40px;
}
.weibo_icon{
	margin-left: 40px;
}
