 .index_header {
 	width: 100%;
 	height: 974px;
 	background: url(../img/banner.png) no-repeat;
 }
 
 header {
 	background: url(../img/banner.png) no-repeat;
 	position: fixed;
 	top: 0;
 }
 
 .banner {
 	width: 100%;
 	height: 822px;
 }
 
 .index_content {
 	width: 1280px;
 	margin: 0 auto;
 }
 
 .img_box {
 	margin: 10px auto;
 }
 
 .img_box a {
 	display: inline-block;
 	border: 1px solid #323232;
 	float: left;
 	width: 248px;
 	height: 270px;
 	margin-right: 10px;
 	position: relative;
 	box-sizing: border-box;
 }
 
 .img_box a:nth-of-type(5) {
 	margin-right: 0;
 }
 
 .img_box p {
 	background-color: rgba(15, 14, 14, 0.8);
 	position: absolute;
 	bottom: 0;
 	height: 61px;
 	line-height: 61px;
 	width: 100%;
 	font-size: 14px;
 	color: #FFFFFF;
 	text-indent: 16px;
 }
 
 .news .left {
 	width: 900px;
 }
 
 .news_nav {
 	margin-left: 5px;
 	width: 895px;
 	height: 50px;
 	box-sizing: border-box;
 	border-bottom: 1px solid #dddddd;
 	border-top: 1px solid #dddddd;
 }
 
 .news_nav li {
 	width: 149px;
 	height: 50px;
 }
 
 .news_nav li a {
 	display: block;
 	width: 100%;
 	height: 50px;
 	line-height: 50px;
 	text-align: center;
 	color: #f29411;
 	font-size: 14px;
 }
 
 .news_nav li a.active {
 	color: #FFFFFF;
 	background-color: #f29411;
 }
 
 .news_list,
 .news_img_list {
 	display: block;
 	padding: 10px 0;
 	border-bottom: 1px solid #999;
 }
 
 .news_picture {
 	margin: 0;
 	width: 300px;
 	height: 180px;
 	overflow: hidden;
 }
 
 .news_text {
 	display: inline-block;
 	width: 580px;
 	height: 180px;
 	margin-left: 15px;
 }
 
 .news_text h3 {
 	font-size: 18px;
 	color: #333;
 	font-weight: bold;
 	margin-bottom: 16px;
 	word-break: break-all;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	/** 对象作为伸缩盒子模型显示 **/
 	-webkit-box-orient: vertical;
 	/** 设置或检索伸缩盒对象的子元素的排列方式 **/
 	-webkit-line-clamp: 2;
 	/** 显示的行数 **/
 	overflow: hidden;
 	/** 隐藏超出的内容 **/
 }
 
 .news_text p {
 	font-size: 14px;
 	color: #999999;
 	margin-bottom: 46px;
 	word-break: break-all;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	/** 对象作为伸缩盒子模型显示 **/
 	-webkit-box-orient: vertical;
 	/** 设置或检索伸缩盒对象的子元素的排列方式 **/
 	-webkit-line-clamp: 2;
 	/** 显示的行数 **/
 	overflow: hidden;
 	/** 隐藏超出的内容 **/
 }
 
 .time {
 	width: 470px;
 	display: inline-block;
 }
 
 .look {
 	width: 100px;
 	display: inline-block;
 }
 
 .time img,
 .look img {
 	vertical-align: middle;
 	margin: 0;
 }
 
 .time span,
 .look span {
 	height: 20px;
 	line-height: 20px;
 	display: inline-block;
 	vertical-align: middle;
 }
 
 .news_img_list .news_img {
 	width: 210px;
 	height: 191px;
 	overflow: hidden;
 	margin-right: 10px;
 	margin-bottom: 10px;
 }
 
 .news_img_list .news_img:nth-of-type(4) {
 	margin-right: 0;
 }
 
 .news_img_list {
 	border-bottom: 1px solid #999;
 }
 
 .news_img_list h3 {
 	font-size: 20px;
 	line-height: 2em;
 }
 
 .index_more {
 	height: 44px;
 	width: 900px;
 	margin: 10px auto;
 	box-sizing: border-box;
 	line-height: 44px;
 	font-size: 16px;
 	color: #666666;
 	display: block;
 	text-align: center;
 	border: 1px solid #DDDDDD;
 	border-radius: 8px;
 }
 /*右侧列表样式*/
 
 .news .right {
 	width: 370px;
 }
 
 .right_list {
 	margin-bottom: 40px;
 }
 
 .list_title {
 	position: relative;
 	height: 38px;
 	line-height: 38px;
 	margin-bottom: 20px;
 }
 
 .icon {
 	vertical-align: middle;
 }
 
 .list_title_text {
 	margin-left: 10px;
 	vertical-align: middle;
 	font-size: 20px;
 	color: #444444;
 }
 
 .list_title .more {
 	position: absolute;
 	right: 0;
 }
 
 .list_title .more img,
 .list_title .more span {
 	vertical-align: middle;
 }
 
 .list_title .more img {
 	margin: 0;
 }
 
 .currency_nav {
 	height: 42px;
 	margin-top: 10px;
 }
 
 .currency_nav .currency {
 	width: 93px;
 }
 
 .currency a {
 	display: block;
 	height: 42px;
 	line-height: 42px;
 	width: 93px;
 	font-size: ;
 	color: #999999;
 	font-size: 18px;
 }
 
 .currency_nav .act {
 	color: #444444;
 	font-weight: bold;
 }
 
 .alerts_list {
 	border-bottom: 1px solid #ccc8bb;
 	margin-left: 20px;
 	margin-bottom: 10px;
 }
 
 h4 {
 	font-size: 14px;
 	margin-top: 10px;
 	color: #444444;
 	line-height: 2em;
 }
 
 .date {
 	font-size: 12px;
 	color: #999999;
 	line-height: 2em;
 }
 
 .hot_list {
 	margin-top: 10px;
 }
 
 .hot_list_img {
 	width: 150px;
 	height: 100px;
 }
 
 .hot_list_text {
 	position: relative;
 	width: 210px;
 	height: 100px;
 }
 
 .hot_list_text .ico {
 	font-size: 14px;
 	color: #999;
 	position: absolute;
 	bottom: 0;
 }
 
 .rank_list_text {
 	width: 360px;
 }
 
 .rank_list_text li {
 	display: block;
 	width: 354px;
 	height: 26px;
 	line-height: 26px;
 }
 
 .rank_list_text li a {
 	display: block;
 	width: 100%;
 	height: 26px;
 	line-height: 26px;
 	color: #686763;
 	font-size: 16px;
 }
 
 .rank_index {
 	padding: 2px 7px;
 	color: #686763;
 	margin-right: 15px;
 	font-size: 10px;
 }
 
 span.active {
 	background-color: #e43a3a;
 	color: #fff;
 }
 
 .video_list {
 	margin-bottom: 10px;
 }
 
 .video_list p {
 	margin-left: 10px;
 	margin-top: 10px;
 }
 
 .video_list p span {
 	font-size: 14px;
 }