body,p,h1,h2,h3,h4,h5,h6,ul,dl,dd,td,input,fieldset,textarea,option{ margin:0; padding:0;font-family: "微软雅黑";}
li{list-style:none;}
a{text-decoration:none; color:#333;}
img{border:none; vertical-align:top; }
a,input{outline:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:100;}
i,em{font-style:normal;}
body{font:12px "微软雅黑";}

.clear{zoom:1;}
.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}

.fl{float:left;}
.fr{float:right;}

/*隐藏*/
		.hide{
			display: none;
		}
		/*显示*/
		.show{
			display: block;
		}
		
/*水平垂直居中*/
.center{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.middle{
	vertical-align: middle;
}
header{
	z-index: 99;
}
